body {
    background: linear-gradient(0, #fdcd3b 70%, #ffed4b 70%);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.placement {
    width: 90vw;
}

#card-container {
    height: 85vh;
}

.clickable {
    cursor: pointer;
}

.big-checkbox {
    transform: scale(2)
}

.bg-orange {
    background: #fdcd3b
}

.bg-yellow {
    background: #ffed4b
}

.hover-todo:hover {
        cursor: pointer;
        background-color: #ffed4b2f;
}